canvas {
    border: 1px solid rgb(91, 89, 89);
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.botao {
    border-radius: 15%;
    border-style: none;
    font-size: 60px;
    background-color: orange;
    color: brown;
}

.botao:hover{
    font-size: 70px;
    color:orange;
    background-color: brown;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}